/* Add a background image to the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    /* Background image properties */
    background-image: url('harshbg.jpg'); /* Replace 'background.jpg' with the actual image file name */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #fff; /* Ensures text is readable against the background */
    min-height: 100vh; /* Ensures the page has enough vertical space for the content */
}

/* Header styles */
header {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
    /* padding: 1rem 0; */
    width: 100vw;
    position: fixed;
    top: 0;
}

header nav {
    width: 100%;
}

header ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

header ul li {
    margin: 0 1rem;
}

header ul li a {
    color: white;
    text-decoration: none;
}

/* Main content styles */
main {
    text-align: center;
    font-family: comic sans ms;
    color: #eed0b2ee;
    width: 100%;
    min-height: 90vh;
}


.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;

}

.intro h1 {
    font-size: 2.5rem;
    width: 100%;
    grid-column: 3/4;
    margin-top: 5rem;
}

.intro p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 4/5;
}

#form {
    /* grid-column: 1/2; */
    margin: 0 auto;
    margin-top: 25rem;
    max-width: 600px;
    padding: 1rem;
    /* border: 1px solid #eed0b2ee; */

}

@media (max-width: 768px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 100%;
        grid-gap: 1rem;


    }

    .intro h1 {
        font-size: 2rem;
        width: 100%;
        grid-column: 1/2;
        margin-top: 5rem;
    }

    .intro p {
        font-size: 1rem;
        max-width: 600px;
        margin: 0 auto;
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

/* Footer styles */
footer {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    height: 3rem;
    width: 100%;

}


.blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem;

    padding: 1rem;

    border: 1px solid #eed0b2ee;

    border-radius: 5px;
    width: 50%;
    margin: 2rem auto;
    background-color: #000c;
}